@mixin flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.help-section {
	height:800px;
	background-color: #16303d;
	padding: 4em;
	@include flex;
	flex-direction: column;
	justify-content: space-around;

	.title-help-section {
		color: #fff;
		font-family: "Pacifico";
		font-size: 40px;
	}

	.list-group-item {
		color: #fff;
		background-color: #16303d;
		border: none;

		.glyphicon {
			top: 2px;
			margin-right: 10px;	
		}	
	}

	.description-section-helper {
		color: #fff;
	}
}

@media screen and (min-width: 768) {
	.list-item {
		width: 300px;
		background-color: #16303d;
		color: #fff;
	}
}
