@mixin flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.home-section {
	background-color: #0f2029;
	@include flex;
	width: 100%;
	position: relative;
}

@media screen and (min-width:320px) {

	.navbar-brand {
		display: flex;
		align-items: center;
	}

	.logo {
		margin-left: 35px;

		img{
			height: 20px;
			width: 150px;
		}
	}

	.btn-acesso {
		@include flex;
		position: absolute;
		border-radius: 20px;
		font-size:12px;	
		margin-top: -40px;
		right: 0;
		background-color: #8dcc3d;
		
	}

	.home-section {
		overflow-x: hidden;
	}
	.braco {
		top: 276px;
		position: absolute;
		margin-left: 140px;
	}

	.img-braco {
		top: 231px;
		position: absolute;
		left: 160px;
	}
}

@media screen and (min-width:768px) {

	.navbar-brand {
		display: flex;
		align-items: center;
	}

	.logo {
		margin-left: 35px;

		img{
			height: 20px;
			width: 150px;
		}
	}

	.btn-acesso {
		border-radius: 20px;
		margin-top: -40px;
		right: 20px;
		width: 200px;
	}

	.home-section {
		overflow-x: hidden;
	}
	.braco {
		top: 276px;
		position: absolute;
		margin-left: 140px;
	}

	.img-braco {
		top: 400px;
		position: absolute;
		left: 390px;
	}
}

@media screen and (min-width:1200px) {

	.navbar-brand {
		display: flex;
		align-items: center;
	}

	.logo {
		margin-left: 35px;

		img{
			height: 20px;
			width: 150px;
		}
	}

	.btn-acesso {
		border-radius: 20px;
		margin-top: -40px;
		right: 20px;
		width: 200px;
	}

	.home-section {
		overflow-x: hidden;
	}
	.braco {
		top: 276px;
		position: absolute;
		margin-left: 140px;
	}

	.img-braco {
		top: 400px;
		position: absolute;
		left: 635px;
	}
}

@media screen and (min-width: 1400px) {
	.img-braco {
		top: 400px;
		position: absolute;
		left: 700px;
	}
}