@mixin flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-area {
	height: 500px;
	background-color: #e5e6e5;
}

.modal-title-login {
	@include flex;
	text-transform: uppercase;
}

@media screen and (min-width: 768px) {

	.modal-content {
		height: 500px;
		top: 250px;
		background-color: #e5e6e5;
	}

	.modal-title-login {
		img {
			height: 80px;
			width: 80px;
		}
	}
}

