@mixin flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.login-area {
	height: 400px;
	background-color: #e5e6e5;
}

.modal-title-login {
	@include flex;
	text-transform: uppercase;
}

@media screen and (min-width: 768px) {

	.modal-content {
		height: 350px;
		top: 250px;
		background-color: #e5e6e5;

		input[type=text], input[type=password]{
			background-color: #e5e6e5;
			border-radius: 20px;
		}

		.button-area {
			@include flex;
		}

		.btn-entrar {
			background-color: #8dcc3d;
			border: none;
			width: 100px;
			border-radius: 20px;
			text-transform: uppercase;
		}
	}

	.modal-title-login {
		img {
			height: 80px;
			width: 80px;
		}
	}
}

@media screen and (min-width: 1200px) {

	
}

@media screen and (min-width: 1400px) {

	
}


