@mixin flex {
	display: flex;
	align-items: center;
	justify-content: center;
}

.plan-section {
	height: auto;
	background-color: #e5e6e5;
	padding: .5em;
	position: relative;

	.btn-success {
		border-color:  #5cb85c;
	}

	.title-section {
		text-transform: uppercase;
	}

	.title-plan-section {
		font-family: "Prelo-Light";
	}

	.subtitle-text-plan-section {
		font-family: "Prelo-Light";	
	}

	.plan-word-smart {
		font-weight: bold;
	}

	.value-boxes {
		height: 200px;
		width: 275px;
		border-radius: 10px;
		background-color: #fff;
		margin-bottom: 2em;

		.title-box {
			@include flex;
			background-color: #d9844c;
			color: #fff;
			text-transform: uppercase;
			border-radius: 10px 12px 0px 0px;
			-moz-border-radius: 10px 12px 0px 0px;
			-webkit-border-radius: 10px 12px 0px 0px;
			border: 0px solid #000000;
		}

		.value-box {
			@include flex;
			flex-direction: column;
			position: relative;
			padding: .5em;

			.cash {
				font-size: 20px;
			}

			.value-plan, .desconto {
				color: #d9844c;
			}

			.desconto {
				text-transform: uppercase;
				font-weight: bold;
			}
		}

		.btn-pagar {
			background-color: #8dcc3d;
			border-radius: 20px;
			position: absolute;
			width: 110px;
			top: 125px;
			border-color: #5cb85c;
		}

		.btn-assinar {
			background-color: #8dcc3d;
			border-radius: 20px;
			position: absolute;
			width: 110px;
			top: 100px;
			border-color: #8dcc3d;
		}

		.value-plan-box-2 {
			padding-top: 1em;
		}

		.title-plan-box-2 {
			background-color: #7dabbf;
		}

	}

	.table-features {
		height: 360px;
		width: 300px;
		background-color: #fff;
		border-radius: 10px;
		position: absolute;
		top: 0px;
		left: 0;
		padding: 1em;

		.td-description, .td-icon {
			border-bottom: 1px solid #e5e6e5;
			height: 40px;
		}

		.td-description:first-child { 
			border-top: none;
		}

		.td-description {
			text-align: center;
		}

		.td-icon {
			border-left: 1px solid #e5e6e5;
			border-top: none;
		}

		.last-description, .last-icon {
			border-bottom: none;
		}


	}


	@media screen and (min-width: 768px) {
		.first-column, .second-column {
			@include flex;
		}

		.first-column {
			flex-direction: column;
		}

		.second-row, .third-row {
			height: 360px;
		}
	}
}

