@font-face {
	font-family: Pacifico;
	src: url(../fonts/Pacifico.ttf);
}

@font-face {
	font-family: Prelo-Light;
	src: url(../fonts/Prelo-Light.otf);
}

@font-face {
	font-family: Prelo-Book;
	src: url(../fonts/Prelo-Book.otf);
}

@font-face {
	font-family: Prelo-ExtraLight;
	src: url(../fonts/ExtraLight.otf);
}

@font-face {
	font-family: Prelo-Medium;
	src: url(../fonts/Prelo-Medium.otf);
}

@font-face {
	font-family: Prelo-SemiBold;
	src: url(../fonts/Prelo-SemiBold.otf);
}


@import "home-section";
@import "solution-section";
@import "plan-section";
@import "smart-section";
@import "help-section";

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.navbar-toggle {
	z-index:3;
	left: 10px;
	position: absolute;
	border: none;
}

.icon-bar {
	background-color: #fff !important;
}

header {
	height: 50px;

	.topo {
		background-color: #7dabbf;
	}
}

main {
	height: auto;
	background-color: lightgray;
}



