@import "home-section";
@import "solution-section";

html, body {
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

.navbar-toggle {
	z-index:3;
	left: 10px;
	position: absolute;
	border: none;
}

.icon-bar {
	background-color: #fff !important;
}

header {
	height: 50px;

	.topo {
		background-color: #7dabbf;
	}
}

main {
	height: auto;
	background-color: yellow;
}



